.back{
  background-image: url('./components/Images/back.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    min-height: 500px; 
    padding: 2rem 0; 
}

.oneBtn {
  height: 45px;
  width: 125px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.518) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  margin-top: 10px;
}

.oneBtn:hover {
  letter-spacing: 3px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
}

.oneBtn:active {
  letter-spacing: 3px;
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 0%);
  box-shadow: rgb(1, 1, 1) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}



/* 2nd page */ 
.btnPage {
  top: 30px;
margin-top: 10px;
 width: 5em;
 height: 2.3em;
 margin: 0.5em;
 background: black;
 color: white;
 border: none;
 border-radius: 0.625em;
 font-size: 20px;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

.btnPage:hover {
 color: black;
}

.btnPage:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

.btnPage:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}


/* 3rd button */
.accBtn {
 top: 30px;
 width: 12em;
 height: 2.3em;
 margin: 0.5em;
 background: rgb(0, 0, 0);
 color: rgb(249, 249, 249);
 border: none;
 border-radius: 0.625em;
 font-size: 20px;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

.accBtn:hover {
 color: black;
}

.accBtn:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

.accBtn:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}